@charset "UTF-8";

.container-cadastro {
    margin-top: 20px;
}

fieldset {
    margin: 10px 0px;
}

input, select, fieldset {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

input:focus {
    border: var(--borda);
}

.btn-cadastrar, .btn-doacao-rapida {
    cursor: pointer;
}

.container-centro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1200px) {
    .container-cadastro {
        display: grid; 
        grid-template-rows: repeat(2, auto) 1fr;
        grid-template-columns: 100px 1fr 2fr 100px;
        gap: 0px 50px;
    }

    .container-cadastro h1 {
        grid-area: 1 / 1 / 2 / -1;
    }

    .conteudoP {
        grid-area: 2 / 2 / 3 / 3;
    }

    .conteudoG {
        grid-area: 2 / 3 / -1 / -2;
    }
}