@charset "UTF-8";

:root {
    --fundo-principal: #f1f1f1;
    --fundo-conteudo: #fff;
    --azul1: #2f88ad;
    --azul2: #255c74;
    --texto: #000;
    --subtexto: #555;
    --sombra-forte: 0px 2px 5px rgba(0, 0, 0, 0.7);
    --sombra-fraca: 0px 1px 2px rgba(0, 0, 0, 0.3);
    --borda: 4px outset var(--azul1);
    --transicao: all .2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fundo-principal);
}

/* Layout */

#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 5px 1fr 5px;
    height: 100vh;
    background-color: var(--fundo-principal);
}

header {
    grid-area: 1 / 1 / 2 / -1;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-forte);
    z-index: 2;
}

main {
    grid-area: 2 / 2 / -2 / -2;
}

footer {
    grid-area: -2 / 1 / -1 / -1;
    background-color: var(--fundo-conteudo);
}

/* HEADER */

.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-top: 10px;
    margin: auto;
}

.logo {
    width: 40%;
    max-width: 200px;
    transition: var(--transicao);
}

.logo:hover {
    filter: opacity(0.5);
}

.btn-nav {
    font-size: 1.7em;
}

.lista-nav {
    text-align: center;
    font-size: 18px;
    height: 0;
    width: 100%;
    margin: 5px;
    overflow: hidden;
    transition: var(--transicao);
}

.lista-nav li {
    padding: 5px;
    cursor: pointer;
    transition: var(--transicao);
}

.lista-nav li:hover {
    color: var(--azul1);
}

/* MAIN */

.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    max-height: 700px;
    background: url(../midia/fundoP.jpg) center no-repeat;
    background-size: cover;
    box-shadow: var(--sombra-fraca);
}

.card-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 550px;
    height: 40vh;
    max-height: 250px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border: var(--borda);
    box-shadow: var(--sombra-forte);
    padding: 10px;
    margin-bottom: 15%;
}

.botoes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}

.btn-projetos, .btn-cadastro, .btn-relatorio, .btn-cadastrar {
    border: 3px solid var(--azul2);
}

.btn-projetos {
    background-color: transparent;
    color: var(--azul2);
}

.btn-cadastro, .btn-relatorio, .btn-cadastrar {
    background: linear-gradient(to bottom, var(--azul1), var(--azul2));
    color: #fff;
}

#missao {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    max-width: 520px;
    height: 400px;
    margin: 25px auto;
}

.carrossel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    transition: var(--transicao);
}

.card-carrossel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 80%;
    max-width: 300px;
    height: 400px;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-forte);
    border-radius: 10px;
    border: var(--borda);
    padding: 10px;
    transition: var(--transicao);
}

.card-carrossel picture {
    width: 75%;
}

.card-carrossel:nth-child(1) {
    transform: translateX(-100px) scale(0.8) rotateY(30deg);
    opacity: 0.3;
    z-index: 1;
}

.card-carrossel:nth-child(2) {
    transform: translateX(0px) scale(1) rotateY(0deg);
    opacity: 1;
    z-index: 2;
}

.card-carrossel:nth-child(3) {
    transform: translateX(100px) scale(0.8) rotateY(-30deg);
    opacity: 0.3;
    z-index: 1;
}

.btn-voltar, .btn-avancar {
    font-size: 1.5em;
    margin: auto 10px;
    z-index: 2;
}

.btn-voltar:hover, .btn-avancar:hover {
    text-shadow: var(--sombra-forte);
    transform: scale(1.2);
}

.lista li {
    border: 2px solid var(--subtexto);
    border-radius: 15px;
    box-shadow: var(--sombra-fraca);
    padding: 5px;
    margin: 5px;
}

.conteudoP, .conteudoG {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-forte);
    border: var(--borda);
    border-radius: 10px;
    padding: 10px;
    margin: 15px auto;
}

.conteudoP {
    max-width: 550px;
}

#equipe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.pessoas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pessoa {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 40%;
    max-width: 200px;
    background-color: var(--fundo-conteudo);
    border: var(--borda);
    border-radius: 10px;
    box-shadow: var(--sombra-forte);
    padding: 10px;
    margin: 15px 5px;
}

.foto img {
    width: 75%;
    border-radius: 50%;
}

#contato {
    margin-bottom: 20px;
}

.card-projeto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.card-projeto img {
    border: var(--borda);
    border-radius: 15px;
}

input, select, fieldset {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
}

fieldset {
    margin: 10px 0px;
}

/* FOOTER */

.rodape {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    padding: 10px 0px;
}

/* GLOBAL */

button {
    font-size: 16px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: var(--transicao);
}

button:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 26px;
    color: var(--azul1);
    text-shadow: var(--sombra-fraca);
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
    font-weight: normal;
    color: var(--subtexto);
}

/* Sub-Class */

.mostrar {
    height: 5.5em;
    overflow: visible;
}