@charset "UTF-8";

:root {
    --fundo-principal: #f5f5f5;
    --fundo-conteudo: #fff;
    --azul1: #2f88ad;
    --azul2: #255c74;
    --texto: #000;
    --sombra-escura: 0px 2px 5px rgba(0, 0, 0, 0.7);
    --transicao: all .2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

/* Layout */

#container {
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-template-columns: 5px 1fr 5px;
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: 1 / 1 / 2 / -1;
    box-shadow: var(--sombra-escura);
}

main {
    grid-area: 2 / 2 / -2 / -2;
}

footer {
    grid-area: -2 / 1 / -1 / -1;
}

header, main, footer {
    border: 1px solid black;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo {
    width: 40%;
    max-width: 200px;
}

.btn-nav {
    font-size: 1.7em;
}

.lista-nav {
    text-align: center;
    font-size: 18px;
    height: 0;
    overflow: hidden;
    transition: var(--transicao);
}

.lista-nav li {
    padding: 3px;
    cursor: pointer;
}

.lista-nav li:hover {
    color: var(--azul1);
}

/* MAIN */

.banner {
    background: lightblue;
    height: 100vh;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: var(--sombra-escura);
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.botoes {
    width: 100%;
    padding-top: 10px;

    display: flex;
    justify-content: space-around;
}

.btn-projetos, .btn-cadastro {
    background: var(--azul1);
    border: 2px solid var(--azul2);
    border-radius: 5px;
    padding: 5px;
    color: white;
    transition: var(--transicao);
}

.btn-projetos:hover, .btn-cadastro:hover {
    background: linear-gradient(to bottom, var(--azul1), var(--azul2));
    transform: scale(1.05);
    box-shadow: var(--sombra-escura);
}

.vmv {
    width: 95%;
    height: 370px;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.carrossel {
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: var(--transicao);
    text-align: center;

    display: flex;
    justify-content: center;
}

.card {
    position: absolute;
    width: 50%;
    height: 350px;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-escura);
    border-radius: 10px;
    padding: 10px;
}

.card:nth-child(1) {
    transform: translateX(-100px) scale(0.8) rotateY(30deg);
    opacity: 0.3;
    z-index: 1;
}

.card:nth-child(2) {
    transform: translateX(0px) scale(1) rotateY(0deg);
    opacity: 1;
    z-index: 2;
}

.card:nth-child(3) {
    transform: translateX(100px) scale(0.8) rotateY(-30deg);
    opacity: 0.3;
    z-index: 1;
}

.btn-voltar, .btn-avancar {
    font-size: 1.5em;
    z-index: 2;
}
/* GLOBAL */

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

/* Sub-Class */

.mostrar {
    overflow: visible;
    height: 6em;
}