@charset "UTF-8";

:root {
    --fundo-principal: #f1f1f1;
    --fundo-conteudo: #fff;
    --fundo-transparente: rgba(255, 255, 255, 0.9);
    --azul1: #2f88ad;
    --azul2: #255c74;
    --texto: #000;
    --subtexto: #555;
    --sombra-forte: 0px 2px 5px rgba(0, 0, 0, 0.7);
    --sombra-fraca: 0px 1px 2px rgba(0, 0, 0, 0.5);
    --borda: 4px outset var(--azul1);
    --transicao: all .2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
    scroll-behavior: smooth;
}

/* ------- LAYOUT ------- */
#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 5px 1fr 5px;
    height: 100vh;
    width: 100%;
    background-color: var(--fundo-principal);
}

header {
    grid-area: 1 / 1 / 2 / -1;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-forte);
    z-index: 2;
}

main {
    grid-area: 2 / 2 / -2 / -2;
}

footer {
    grid-area: -2 / 1 / -1 / -1;
    background-color: var(--fundo-conteudo);
}

/* ------- MENU ------- */
.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-top: 10px;
    margin: auto;
}

.logo {
    width: 40%;
    max-width: 200px;
    transition: var(--transicao);
}

.logo:hover {
    filter: opacity(0.5);
}

.btn-nav {
    font-size: 1.7em;
}

.lista-nav {
    display: flex;
    flex-flow: column nowrap;
    
    text-align: center;
    font-size: 18px;
    height: 0;
    width: 100%;
    margin: 5px;
    overflow: hidden;
    opacity: 0;
    transition: var(--transicao);
}

.lista-nav li {
    text-shadow: var(--sombra-fraca);
    padding: 5px;
    cursor: pointer;
    transition: var(--transicao);
}

.lista-nav li:hover {
    color: #2f88ad;
}

.lista-nav a {
    display: inline-block;
    width: 100%;
}

#btn-modo-escuro {
    align-self: flex-end;
    font-size: 14px;
    text-align: left;
    width: 50px;
    border: 1px solid #999;
    border-radius: 50px;
    box-shadow: var(--sombra-fraca);
    padding: 2px 5px;
    transition: var(--transicao);
}

#lua {
    display: none;
}

/* SUB-CLASS MENU */
.mostrar {
    height: 7em;
    overflow: visible;
    opacity: 1;
}

/* ------- ELEMENTOS GLOBAIS ------- */
.lista li {
    border: 2px solid var(--azul2);
    border-radius: 15px;
    box-shadow: var(--sombra-fraca);
    padding: 5px;
    margin: 5px 0px;
}

.conteudoP, .conteudoG {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-forte);
    border: var(--borda);
    border-radius: 10px;
    padding: 10px;
    margin: 15px auto;
}

.conteudoP {
    max-width: 550px;
}

.conteudoG {
    max-width: 1300px;
}

.link {
    cursor: pointer;
}

/* ------- FOOTER ------- */
#rodape {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    padding: 10px 0px;
}

/* ------- BOTÕES ------- */
.botoes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5px;
}

.btn-projetos, .btn-cadastro, .btn-relatorio, .btn-voluntario, .btn-cadastrar, .btn-doacao, .btn-doacao-rapida, .btn-adicionar-projeto {
    text-align: center;
    border: 3px solid var(--azul2);
}

.btn-projetos, .btn-voluntario, .btn-doacao {
    color: var(--azul2);
}

.btn-cadastro, .btn-relatorio, .btn-cadastrar, .btn-doacao-rapida, .btn-adicionar-projeto {
    background-image: linear-gradient(to top, var(--azul2), var(--azul1));
    color: #fff;
}

/* ------- TAGS GLOBAIS ------- */
button, span {
    font-size: 16px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: var(--transicao);
}

button:hover, span:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1 {
    font-size: 26px;
    color: #2f88ad;
    text-shadow: var(--sombra-fraca);
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: var(--subtexto);
}

p {
    margin: 2px;
}

@media screen and (min-width: 768px) {
    /* ------- MENU ------- */
    .main-header {
        flex-flow: row nowrap;
        padding: 10px;
    }
    
    .btn-nav {
        display: none;
    }
    
    .lista-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        height: auto;
        width: 60%;
        overflow: visible;
        opacity: 1;
    }
    
    .lista-nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 30px;
        font-weight: bold;
        color: #2f88ad;
    }

    .lista-nav li:hover {
        transform: translateY(-5px);
    }

    /* ------- FOOTER ------- */
    #rodape {
        font-size: 1em;
    }

    /* ------- TAGS GLOBAIS ------- */
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    /* ------- MENU ------- */
    .main-header {
        width: 80%;
    }

    .main-header ul {
        font-size: 22px;
    }
}