@charset "UTF-8";

:root {
    --fundo-principal: #f1f1f1;
    --fundo-conteudo: #fff;
    --azul1: #2f88ad;
    --azul2: #255c74;
    --texto: #000;
    --subtexto: #555;
    --sombra-escura: 0px 2px 5px rgba(0, 0, 0, 0.7);
    --sombra-clara: 0px 1px 2px rgba(0, 0, 0, 0.3);
    --borda: 4px outset var(--azul1);
    --transicao: all .2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fundo-principal);
}

/* Layout */

#container {
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-template-columns: 5px 1fr 5px;
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-principal);
}

header {
    grid-area: 1 / 1 / 2 / -1;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-escura);
    z-index: 2;
}

main {
    grid-area: 2 / 2 / -2 / -2;
}

footer {
    grid-area: -2 / 1 / -1 / -1;
    font-size: 0.9em;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.logo {
    width: 40%;
    max-width: 200px;
}

.btn-nav {
    font-size: 1.7em;
}

.lista-nav {
    text-align: center;
    font-size: 18px;
    height: 0;
    margin: 5px;
    overflow: hidden;
    transition: var(--transicao);
}

.lista-nav li {
    padding: 5px;
    cursor: pointer;
}

.lista-nav li:hover {
    color: var(--azul1);
}

/* MAIN */

.banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    max-height: 700px;
    background: url(../midia/fundo.png) center no-repeat;
    background-size: cover;
    box-shadow: var(--sombra-clara);
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 95%;
    max-width: 400px;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border: 4px outset var(--azul1);
    box-shadow: var(--sombra-escura);
    padding: 5px;
    margin-bottom: 15%;
}

.botoes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
}

.btn-projetos, .btn-cadastro, .btn-relatorio, .cadastrar {
    font-size: 1em;
    font-weight: bolder;
    border: 3px solid var(--azul2);
    border-radius: 5px;
    padding: 5px;
    transition: var(--transicao);
}

.btn-projetos {
    background-color: transparent;
    color: var(--azul2);
}

.btn-cadastro, .btn-relatorio, .cadastrar {
    background: linear-gradient(to bottom, var(--azul1), var(--azul2));
    color: #fff;
}

.btn-projetos:hover, .btn-cadastro:hover, .btn-relatorio:hover {
    box-shadow: var(--sombra-clara);
    transform: scale(1.05);
}

.missao {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.carrossel {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    transition: var(--transicao);
}

.card {
    position: absolute;
    width: 80%;
    max-width: 600px;
    height: 350px;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-escura);
    border-radius: 10px;
    border: 4px outset var(--azul1);
    padding: 5px;
    transition: var(--transicao);
}

.card img {
    width: 80%;
}

.card:nth-child(1) {
    transform: translateX(-100px) scale(0.8) rotateY(30deg);
    opacity: 0.3;
    z-index: 1;
}

.card:nth-child(2) {
    transform: translateX(0px) scale(1) rotateY(0deg);
    opacity: 1;
    z-index: 2;
}

.card:nth-child(3) {
    transform: translateX(100px) scale(0.8) rotateY(-30deg);
    opacity: 0.3;
    z-index: 1;
}

.btn-voltar, .btn-avancar {
    height: 30px;
    font-size: 1.5em;
    padding: 0px 10px;
    margin: auto;
    transition: var(--transicao);
    z-index: 2;
}

.btn-voltar:hover, .btn-avancar:hover {
    text-shadow: var(--sombra-escura);
    transform: scale(1.2);
}

.historico {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.grupo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-escura);
    border: 4px outset var(--azul1);
    border-radius: 10px;
    padding: 10px;
}

.lista {
    line-height: 25px;
}

#equipe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.pessoas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.pessoa {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    background-color: var(--fundo-conteudo);
    border: 4px outset var(--azul1);
    border-radius: 5px;
    padding: 5px;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.relatorio {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    background-color: var(--fundo-conteudo);
    border: var(--borda);
    border-radius: 10px;
    box-shadow: var(--sombra-escura);
    padding: 10px;
    margin: 25px 0px;
}

.grupos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fundo-conteudo);
    border: var(--borda);
    border-radius: 10px;
    box-shadow: var(--sombra-escura);
    width: 100%;
}

.card-projeto {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    max-width: 400px;
    padding: 15px;
}

.cadastro {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    background-color: var(--fundo-conteudo);
    border: var(--borda);
    border-radius: 10px;
    box-shadow: var(--sombra-escura);
    padding: 15px;
    margin: auto;
}

input, select, fieldset {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
}

fieldset {
    margin: 10px 0px;
}
/* GLOBAL */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 25px 0px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    color: var(--subtexto);
}

/* Sub-Class */

.mostrar {
    height: 5.5em;
    overflow: visible;
}