@charset "UTF-8";

.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    max-height: 700px;
    background: url(../midia/fundoP.jpg) center no-repeat;
    background-size: cover;
    box-shadow: var(--sombra-fraca);
}

.card-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 550px;
    height: 45vh;
    max-height: 250px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border: var(--borda);
    box-shadow: var(--sombra-forte);
    padding: 10px;
    margin-bottom: 15%;
}

#missao {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    max-width: 520px;
    height: 400px;
    margin: 25px auto;
}

.carrossel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    transition: var(--transicao);
}

.card-carrossel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 80%;
    max-width: 300px;
    height: 400px;
    background-color: var(--fundo-conteudo);
    box-shadow: var(--sombra-forte);
    border-radius: 10px;
    border: var(--borda);
    padding: 10px;
    transition: var(--transicao);
}

.card-carrossel picture {
    width: 75%;
}

.card-carrossel:nth-child(1) {
    transform: translateX(-100px) scale(0.8) rotateY(30deg);
    opacity: 0.3;
    z-index: 1;
}

.card-carrossel:nth-child(2) {
    transform: translateX(0px) scale(1) rotateY(0deg);
    opacity: 1;
    z-index: 2;
}

.card-carrossel:nth-child(3) {
    transform: translateX(100px) scale(0.8) rotateY(-30deg);
    opacity: 0.3;
    z-index: 1;
}

.btn-voltar, .btn-avancar {
    font-size: 1.5em;
    margin: auto 10px;
    z-index: 2;
}

.btn-voltar:hover, .btn-avancar:hover {
    text-shadow: var(--sombra-forte);
    transform: scale(1.2);
}

#equipe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.pessoas, .foto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pessoa {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 40%;
    max-width: 200px;
    background-color: var(--fundo-conteudo);
    border: var(--borda);
    border-radius: 10px;
    box-shadow: var(--sombra-forte);
    padding: 10px;
    margin: 10px;
}

.foto {
    align-items: center;
    font-weight: bold;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: auto;
}

#contato {
    margin-bottom: 20px;
}

.redes-sociais i {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    transition: var(--transicao);
}

.redes-sociais i:hover {
    transform: translateY(-3px);
    filter: drop-shadow(var(--sombra-fraca));
}

@media screen and (min-width: 768px) {
    .carrossel {
        perspective: 1000px;
    }

    .btn-voltar, .btn-avancar {
        font-size: 2em;
    }

    .redes-sociais i {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 1200px) {
    .banner {
        justify-content: flex-start;
        background: url(../midia/fundoG.jpg) center no-repeat;
        background-size: cover;
        padding-left: 100px;
    }

    #missao {
        height: 450px;
    }

    .sessoes {
        display: grid;
        grid-template-columns: 2fr 1fr 100px;
        align-items: stretch;
    }

    .coluna-esquerda {
        grid-column: 1;
    }
    
    .coluna-direita {
        grid-column: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
}