@charset "UTF-8";

.container-projeto {
    margin-top: 20px;
}

.filtros, .card-projeto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.filtros {
    flex-flow: row wrap;
}

.filtro {
    color: var(--texto);
    border: 2px solid black;
    margin: 5px auto;
}

.filtro.ativo {
    background-image: linear-gradient(to top, var(--azul2), var(--azul1));
    color: #fff;
}

.card-projeto {
    flex-flow: column nowrap;
    box-shadow: var(--sombra-forte);
    border-radius: 15px;
    margin: 5px;
    transition: var(--transicao);
}

.card-projeto:hover {
    background-image: linear-gradient(to bottom, var(--azul1), var(--fundo-conteudo) 60%);
}

.card-projeto img {
    background-color: var(--fundo-conteudo);
    border: var(--borda);
    border-radius: 15px;
}

.card-projeto.oculto {
    display: none;
}


@media screen and (min-width: 768px) {
    .card-projeto {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px 10px;
    }

    .card-projeto:hover {
        background-image: linear-gradient(to right, var(--azul1), var(--fundo-conteudo) 40%);
    }
    
    .card-projeto img {
        grid-area: 1 / 1 / -1 / -2;
    }
    
    .informacao {
        grid-area: 1 / 2 / -2 / -1;
    }
    
    .doacao {
        grid-area: 2 / 2 / -1 / -1;
    }
}

@media screen and (min-width: 1200px) {
    .conteudoG {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
    }

    .filtros {
        grid-area: 1 / 1 / 2 / -1;
    }  

    .card-projeto {
        height: 250px;
    }
}
