@charset "UTF-8";

@media screen and (min-width: 768px) {
    /* HEADER */
    .main-header {
        flex-flow: row nowrap;
        padding: 10px 20px;
    }
    
    .btn-nav {
        display: none;
    }
    
    .lista-nav {
        height: auto;
        width: 50%;
        overflow: visible;
    }
    
    .lista-nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 5%;
        font-weight: bold;
        color: var(--azul1);
    }

    .lista-nav li:hover {
        transform: translateY(-5px);
    }

    /* MAIN */
    .carrossel {
        perspective: 1000px;
    }

    .btn-voltar, .btn-avancar {
        font-size: 2em;
    }

    .card-projeto {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    
    .card-projeto img {
        grid-area: 1 / 1 / -1 / -2;
    }

    .informacao {
        grid-area: 1 / -2 / -2 / -1;
    }

    .doacao {
        grid-area: 2 / -2 / -1 / -1;
    }

    /* FOOTER */
    .rodape {
        font-size: 1.2em;
    }

    /* GLOBAL */
    button {
        font-size: 22px;
    }

    p, ul {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .main-header {
        width: 80%;
    }

    .banner {
        justify-content: flex-start;
        background: url(../midia/fundoG.jpg) center no-repeat;
        background-size: cover;
        padding-left: 100px;
    }

    #missao {
        height: 450px;
    }

    .sessoes {
        display: grid;
        grid-template-columns: 2fr 1fr 100px;
        align-items: stretch;
    }

    .coluna-esquerda {
        grid-column: 1;
    }
    
    .coluna-direita {
        grid-column: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    .conteudoG {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}